version: '3'
services:
  product:
    image: pagonxt/product
    build: product
    entrypoint: 'npm run start:dev'
    volumes:
      - ./product:/app
    ports:
      - 3000:3000

  account:
    image: pagonxt/account
    build: account
    entrypoint: 'npm run start:dev'
    volumes:
     - ./account:/app
    ports:
     - 3001:3001 
  
  account-database:
    image: mongo
    container_name: account-database
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongouser
      - MONGO_INITDB_ROOT_PASSWORD=mongopass
      - MONGO_INITDB_DATABASE=accounts
    ports:
      - 27017:27017

  product-database:
    image: mysql
    container_name: product-database
    environment:
      - MYSQL_ALLOW_ROOT_PASSWORD=true
      - MYSQL_DATABASE=products
      - MYSQL_USER=mysqluser
      - MYSQL_PASSWORD=mysqlpass
    ports: 
      - 3306:3306